.search-icon {
  background: url("/assets/img/search.png") no-repeat;
  width: 20px;
  height: 20px;
}

.user-icon {
  background: url("/assets/img/user.png") no-repeat;
  width: 20px;
  height: 23px;
}

.settings-icon {
  background: url("/assets/img/settings.png") no-repeat;
  width: 25px;
  height: 25px;
}

.notifications-icon {
  background: url("/assets/img/notifications.png") no-repeat;
  width: 23px;
  height: 24px;
}

.menu-icon {
  background: url("/assets/img/menu-icon.png") no-repeat;
  width: 23px;
  height: 17px;
}

.menu-icon-blue {
  background: url("/assets/img/menu-icon-blue.png") no-repeat;
  width: 23px;
  height: 17px;
}

.badge-icon {
  background: url("/assets/img/badge.png") no-repeat;
  width: 13px;
  height: 19px;
}

.location-icon {
  background: url("/assets/img/location.png") no-repeat;
  width: 16px;
  height: 16px;
}

.message-icon {
  background: url("/assets/img/message.png") no-repeat;
  width: 16px;
  height: 16px;
}

.downarrow-icon {
  background: url("/assets/img/downarrow.png") no-repeat;
  width: 14px;
  height: 7px;
}

.dashboard-icon {
  background: url("/assets/img/dashboard.png") no-repeat;
  width: 14px;
  height: 13px;
}

.statistics-icon {
  background: url("/assets/img/stats.png") no-repeat;
  width: 19px;
  height: 20px;
}

.analytics-icon {
  background: url("/assets/img/analytics.png") no-repeat;
  width: 22px;
  height: 16px;
}

.envelope-icon {
  background: url("/assets/img/envelope.png") no-repeat;
  width: 18px;
  height: 12px;
}

.tasks-icon {
  background: url("/assets/img/tasks.png") no-repeat;
  width: 17px;
  height: 18px;
}

.calendar-icon {
  background: url("/assets/img/calendar.png") no-repeat;
  width: 19px;
  height: 19px;
}

.accounts-icon {
  background: url("/assets/img/accounts.png") no-repeat;
  width: 16px;
  height: 19px;
}

.kits-icon {
  background: url("/assets/img/uikit.png") no-repeat;
  width: 17px;
  height: 17px;
}

.forms-icon {
  background: url("/assets/img/forms.png") no-repeat;
  width: 21px;
  height: 15px;
}

.tables-icon {
  background: url("/assets/img/tables.png") no-repeat;
  width: 20px;
  height: 22px;
}

.charts-icon {
  background: url("/assets/img/charts.png") no-repeat;
  width: 21px;
  height: 21px;
}

.maps-icon {
  background: url("/assets/img/maps.png") no-repeat;
  width: 15px;
  height: 21px;
}

.minimize-icon {
  background: url("/assets/img/minimize.png") no-repeat;
  width: 12px;
  height: 2px;
}

.close-icon {
  background: url("/assets/img/close.png") no-repeat;
  width: 9px;
  height: 10px;
}

.users-icon {
  background: url("/assets/img/users-icon.png") no-repeat;
  width: 115px;
  height: 93px;
}

.graph-icon {
  background: url("/assets/img/graph.png") no-repeat;
  width: 100px;
  height: 93px;
}

.profit-icon {
  background: url("/assets/img/profit.png") no-repeat;
  width: 97px;
  height: 97px;
}

.inbox-icon {
  background: url("/assets/img/inbox.png") no-repeat;
  width: 12px;
  height: 12px;
}

.envelope2-icon {
  background: url("/assets/img/envelope2.png") no-repeat;
  width: 13px;
  height: 10px;
}

.star-icon {
  background: url("/assets/img/star.png") no-repeat;
  width: 14px;
  height: 13px;
}

.drafts-icon {
  background: url("/assets/img/drafts.png") no-repeat;
  width: 12px;
  height: 12px;
}

.trash-icon {
  background: url("/assets/img/trash.png") no-repeat;
  width: 13px;
  height: 13px;
}

.rightarrow-icon {
  background: url("/assets/img/rightarrow.png") no-repeat;
  width: 5px;
  height: 9px;
}

.downarrow-small-icon {
  background: url("/assets/img/downarrow-small.png") no-repeat;
  width: 9px;
  height: 5px;
}

.arrow-left-icon {
  background: url("/assets/img/arrow-left.png") no-repeat;
  width: 5px;
  height: 9px;
}

.arrow-right-icon {
  background: url("/assets/img/arrow-right.png") no-repeat;
  width: 5px;
  height: 9px;
}
