//COLORS
$sidemenu-bg-color: #1b2b3d;
$main-pink: #f16191;
$main-bg-color: #e3ebf7;


//FONTS
$main-font: Raleway;
$secondary-font: "OpenSans", sans-serif;


//SIZES:
$search-padding-size: 13px;
$space-between-sections: 30px;
$inbox-header-height: 58px;
