<div class="box" *ngIf="isOpen">
  <div class="box-title flex space-between wrapper flex-row-vert-center bold fs-16">
    <label>{{title}}</label>
    <section class="actions flex flex-row-vert-center">
      <i class="action minimize-icon pointer" [ngClass]="{'minimize-icon': !minimized, 'close-icon-as-plus': minimized}" (click)="minimized=!minimized"></i>
      <i class="action close-icon pointer" (click)="isOpen=!isOpen"></i>
    </section>
  </div>

  <section *ngIf="!minimized" class="box-content">
    <ng-content></ng-content>
  </section>
</div>
