<side-menu [(isOpen)]="isMenuOpen" [hidden]="!isMenuOpen"></side-menu>

<section class="main-content-wrapper grow-1">
  <page-header [(isMenuOpen)]="isMenuOpen"></page-header>
  <main class="main-content wrapper">
    <section class="section">
      <box [title]="'Activity Overview'" [(minimized)]="isActivityBoxMinimized">
        <img class="full-width" src="/assets/img/graph.jpg"/>
      </box>
    </section>

    <section class="section flex space-between flex-wrap">
      <summary-box *ngFor="let summary of summaries" [summary]="summary"></summary-box>
    </section>

    <section class="section">
      <box [title]="'Mails'" [(minimized)]="isMailboxMinimized">
        <mailbox></mailbox>
      </box>
    </section>
  </main>
</section>


